@font-face {
    font-family: "Garet-Book", sans-serif;
    src: url("../tipografias/Garet-Book.ttf");
}
@font-face {
    font-family: "Garet-Heavy", sans-serif;
    src: url("..//tipografias/Garet-Heavy.ttf");
}
/*POR QUE EL FONDO ES BLANCO*/
body{
    color: rgb(47, 46, 46);
}

.menu{
    font-family: "Garet-Book", sans-serif;
    font-size: 24px;
    text-align: center; /*por qué no funciona*/
    width: 100px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}


/*En el index quiero poner el menu centrado, 
el titulo a la izquierda en el medio y la foto a la derecha*/
h1{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 38px;
    color: rgb(221, 221, 221);
    font-weight: bold;
}
#foto{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    
}
.titulo{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 50px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 40px;
    color: rgb(140, 139, 139);
    text-align: center;
}

.subtitulo{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 20px;
    color: rgb(140, 139, 139);
    text-align: center;
}

.footer{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 15px;
    color: rgb(224, 224, 224);
    text-align: center;
    display: flex;
    align-items:flex-start;
    justify-content: right;
    padding: 5%;
    margin: none;

}
.epigrafe{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 15px;
    color: rgb(224, 224, 224);
    text-align: center;
}


.hielos{
    display: flex;
    justify-content:center;
    
}

.tipofoto-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*padding: 20px;
    margin: 10px;*/
    align-items: center;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*padding: 0px;
    margin: 10px;*/
    align-items: center;
}

.container:hover{
    cursor: pointer;

}

p{
    font-family: "Garet-Book", sans-serif;
    font-size: 20px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;    
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content:left;
}

.row g-3{
    background-color: black;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
}

/*pseudoclases*/
.epigrafe:hover{
    color: black;
    padding: 1px;
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

/* GRID */

.espacio{
    grid-area: es;
}

.titulo{
    grid-area: tl;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.subtitulo{
    grid-area: sb;

    justify-items: center;
}

.hielos{
    grid-area: foto;
}

.ig{
    grid-area: ig;
}
.arquitectura{
    display: grid;
    /*areas*/
    grid-template-columns: 4fr, auto;
    grid-template-rows: 50px 300px  auto ;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
    "es es es es   es   es   es   es   es"
    "tl tl tl foto foto foto foto foto foto"
    "sb sb sb foto foto foto foto foto foto"
    "ig ig ig foto foto foto foto foto foto";
    
}

.arquitectura{
    display: grid;
    /*areas*/
    grid-template-columns: 4fr, auto;
    grid-template-rows: 50px 250px 20px auto ;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
    "es es es es   es   es   es   es   es"
    "tl tl tl foto foto foto foto foto es"
    "sb sb sb foto foto foto foto foto es"
    "ig ig ig foto foto foto foto foto es"
    "es es es es   es   es   es   es   es";
}

.titulo2{
    grid-area: tl;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
}
.hielos{
    grid-area: foto;
}
.par{
    grid-area: sb;
    font-size: 19px;
    align-items: center;
    text-align: center;
    justify-content: center;

}
/*.ft{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(4,auto);
    grid-gap:10px;
}*/









@media screen and (max-width: 479px) {
    .arquitectura {
        display: grid;
        grid-template-areas:  "tl" "sb" "foto" "es" ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 20px auto 20px 
    }
    .titulo {
        font-size: 30px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .hielos{
        padding: 20px;
        min-height: 100px;
        max-width: 200px; 
        margin-right: auto;
        margin-left: auto;
    }
    
    .hielos img{
        height: 300px;
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
}

