@font-face {
    font-family: "Garet-Book", sans-serif;
    src: url("../tipografias/Garet-Book.ttf");
}
@font-face {
    font-family: "Garet-Heavy", sans-serif;
    src: url("..//tipografias/Garet-Heavy.ttf");
}
body{
    background-color: rgb(47, 46, 46);
}

.menu{
    font-family: "Garet-Book", sans-serif;
    font-size: 24px;
    text-align: center; /*por qué no funciona*/
    width: 100px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.menu:hover{
    color: rgb(114, 124, 124);
    padding: 5px;
}
/*En el index quiero poner el menu centrado, 
el titulo a la izquierda en el medio y la foto a la derecha*/
h1{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 38px;
    color: rgb(221, 221, 221);
    font-weight: bold;
}
#foto{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    
}
.titulo{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 40px;
    color: rgb(140, 139, 139);
    text-align: center;
}

h3{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 20px;
    color: rgb(140, 139, 139);
}

h4{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 15px;
    color: rgb(140, 139, 139);
    text-align: center;
}

.hielos{
    display: flex;
    justify-content:center;
    
}

.tipofoto{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    align-items: center;
    
}

.videos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*padding: 20px;*/
    margin: 10px;
    align-items: center;    
}

p{
    font-family: "Garet-Book", sans-serif;
    font-size: 20px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;    
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content:left;
}
