@font-face {
    font-family: "Garet-Book", sans-serif;
    src: url("../tipografias/Garet-Book.ttf");
}
@font-face {
    font-family: "Garet-Heavy", sans-serif;
    src: url("..//tipografias/Garet-Heavy.ttf");
}
/*POR QUE EL FONDO ES BLANCO*/
body{
    color: rgb(47, 46, 46);
}

.menu{
    font-family: "Garet-Book", sans-serif;
    font-size: 24px;
    text-align: center; /*por qué no funciona*/
    width: 100px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}


/*En el index quiero poner el menu centrado, 
el titulo a la izquierda en el medio y la foto a la derecha*/
h1{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 38px;
    color: rgb(221, 221, 221);
    font-weight: bold;
}
#foto{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    
}
.titulo{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 50px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
h2{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 40px;
    color: rgb(140, 139, 139);
    text-align: center;
}

.subtitulo{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 20px;
    color: rgb(140, 139, 139);
    text-align: center;
}

.footer{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 15px;
    color: rgb(224, 224, 224);
    text-align: center;
    display: flex;
    align-items:flex-start;
    justify-content: right;
    padding: 5%;
    margin: none;

}
.container .epigrafe{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 15px;
    color: rgb(224, 224, 224);
    padding: 1em;
    justify-content: center;
    align-items: center;
    align-content:center ;
}


.hielos{
    display: flex;
    justify-content:center;
    
}

.fotomenu .container{
    /*display: flex;
    padding: 5px;
    justify-content: space-evenly;
    gap: 2em;
    flex-flow: row wrap;
    align-items: center;*/

    /*padding: 5px;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
    align-items: center;*/


    float: left;
    width: 33.33%;
    padding: 5px;
}
.fotomenu-container img{
    width: 100%;
}
.video .container{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    gap: 2em;
    flex-flow: row wrap;
    align-items: center;
    
}
.container:hover{
    cursor: pointer;

}

p{
    font-family: "Garet-Book", sans-serif;
    font-size: 20px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;    
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content:left;
}

.row g-3{
    background-color: black;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
}

/*pseudoclases*/
.epigrafe:hover{
    color: #000000;
    
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

/* GRID */

.espacio{
    grid-area: es;
}

.titulo{
    grid-area: tl;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.subtitulo{
    grid-area: sb;
    padding: top 1em; 
    padding-bottom: 1em;
    justify-items: center;
}

.subtitulo .comentario{

    padding: top 1em; 
    padding-bottom: 1em;
    justify-items: center;

}

.hielos{
    grid-area: foto;
}

.ig{
    grid-area: ig;
}
.arquitectura{
    display: grid;
    /*areas*/
    grid-template-columns: 4fr, auto;
    grid-template-rows: 50px 300px  auto ;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
    "es es es es   es   es   es   es   es"
    "tl tl tl foto foto foto foto foto foto"
    "sb sb sb foto foto foto foto foto foto"
    "ig ig ig foto foto foto foto foto foto";
    
}

/*grid galeria*/
.galeria{
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    background: rgb(64, 64, 64);
    display: grid;
    grid-gap: 10px;
    grid-template-areas: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
/**vertical*/
.v{
    grid-row: span 2;
}
/**horizontal*/
.h{
    grid-column: span 2;
}
.vh{
    grid-row: span 2;
    grid-column: span 2;
}
.galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/*grid sobre mi*/
.arquitectura2{
    display: grid;
    /*areas*/
    grid-template-columns: 4fr, 4fr, 1fr;
    grid-template-rows: 50px 200px 200px auto ;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
    "es     es      es   es   es    es"
    "tl2  foto2 foto2 foto2 foto2 foto2 "
    "par  foto2 foto2 foto2 foto2 foto2 "
    "par   foto2 foto2 foto2 foto2 foto2 ";
}

.titulo2{
    grid-area: tl2;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Garet-Heavy", sans-serif;
    font-size: 50px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;

}
.yo{
    grid-area: foto2;
}
.par{
    grid-area: par;
    font-size: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;

}
/*.ft{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(4,auto);
    grid-gap:10px;
}*/


/*grid fotografia*/
.fotomenu{
    display: grid;
}

/*responsive index*/
@media screen and (max-width: 576px) {
    .arquitectura {
        display: grid;
        grid-template-areas:  "tl" "sb" "foto"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 20px auto 20px 
    }
    .titulo {
        font-size: 30px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .sb{
        font-size: 10px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .hielos{
        padding: 20px;
        min-height: 100px;
        max-width: 200px; 
        margin-right: auto;
        margin-left: auto;
    }
    
    .hielos img{
        height: 300px;
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
}
/*responsive sobre mi*/
@media screen and (max-width: 576px) {
    /*.arquitectura2 {
        display: grid;
        grid-template-areas:  "tl2" "par" "foto"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px auto  
    }
    .titulo {
        font-size: 30px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .sb{
        font-size: 10px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .yo{
        background-color: aliceblue;
        padding: 20px;
    }
    .yo img{
        height: 30px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }*/
    .arquitectura2{
        display: grid;
        grid-template-areas:  "tl2" "par" "foto"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px 600px 
    }
    .titulo2 {
        font-size: 30px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .par{
        font-size: 10px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .yo{
        display: flex;
        padding-top: 5px;
        min-height: 100px;
        max-width: 200px; 
        margin-right: auto;
        margin-left: auto;
    }
    
    .yo img{
        height: 300px;
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;

    }
}

/*Responsive audiovisuales*/

@media screen and (max-width: 576px) {
    iframe{
            height: 300px;
            width: 400px;
    }
}

/*Responsive fotografia*/

@media screen and (max-width: 576px) {
    .fotomenu .container{
            /*box modeling*/
            width: 90%;
            max-width: 1000px;
            height: 85%;
            width: 90%;
            /*tipografia*/
            font-size: 50px;
            text-align: center;
    }
    .fotomenu .container img{
        width: 90%;
        height:80%;
        align-items: center;
        justify-content: center;
    }
    .titulo{
        font-size: 30px;
        margin-top: 5 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
}

/*Responsive fotografia*/
@media(max-width: 560px){
    v{
        grid-row: span 1;
    }
    h{
        grid-column: span 1;
    }
    vh{
        grid-column: span 1;
        grid-row: span 1;
    }
}