@font-face {
    font-family: "Garet-Book", sans-serif;
    src: url("../tipografias/Garet-Book.ttf");
}
@font-face {
    font-family: "Garet-Heavy", sans-serif;
    src: url("..//tipografias/Garet-Heavy.ttf");
}



body{
    color: rgb(47, 46, 46);
}
footer{
    padding: 1em;
}
.menu{
    font-family: "Garet-Book", sans-serif;
    font-size: 24px;
    text-align: center; /*por qué no funciona*/
    width: 100px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

#foto{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    
} 

$tamaño-titulo: 38px;
$tamaño-sub:23px;
$tipografia-titulo:"Garet-Heavy", sans-serif;
$color-titulo:  rgb(167, 167, 167);
$tipografia-sub:"Garet-Book" sans-serif;


//titulos

h1{
    font-family:$tipografia-titulo;
    font-size: $tamaño-titulo;
    color:$color-titulo;
    font-weight: bold;
}

.titulo{
    font-family: $tipografia-titulo;
    font-size: 50px;
    color: rgb(156, 156, 156);
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1rem;
}
//subtitulos
.subtitulo{
    font-family:$tipografia-sub;
    font-size: $tamaño-sub;
    color: $color-titulo;
    text-align: center;
    //font-weight: bold;
    margin: auto;
    font-style: italic;
}
.subtitulo .comentario{
    @extend .subtitulo;
}
h2{
    //font-size: 40px;
    @extend .subtitulo;
}



p{
    font-family: $tipografia-sub;
    font-size: 20px;
    color: $color-titulo;
    //font-weight: bold;
    padding: 10px;
    margin: 10px;    
    font-style: italic;
}
.container .epigrafe{
    font-family: $tipografia-sub;
    font-size: 15px;
    font-style: oblique;
    color: rgb(224, 224, 224);
    padding: 1em;
    justify-content: center;
    align-items: center;
    align-content:center ;
    text-decoration: none;

}

