@import "tipografia";
@import "grids-flex";
@import "animaciones";
//VARIABLES
$vista: mobile;



body{
    color: rgb(47, 46, 46);
}
footer{
    padding: 1em;
}
.menu{
    font-family: "Garet-Book", sans-serif;
    font-size: 24px;
    text-align: center; /*por qué no funciona*/
    width: 100px;
    color: rgb(181, 175, 175);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
/*En el index quiero poner el menu centrado, 
el titulo a la izquierda en el medio y la foto a la derecha*/

#foto{
    font-family: "Garet-Heavy", sans-serif;
    font-size: 60px;
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-align: center;
    
}

/*pseudoclases*/
.epigrafe:hover{
    color: #000000;
    
    font-weight: bold;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
}

//RESPONSIVE

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



@if map-get($grid-breakpoints,sm) == true {
    @media screen and (max-width: 576px) {
        h1{
            color: red;
        }
    }
} @else {
        h1{
            color:blue;
        }

}


/*responsive index*/
@media screen and (max-width: 576px) {
    .arquitectura {
        display: grid;
        grid-template-areas:  "tl" "sb" "foto"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 20px auto 20px 
    }
    .titulo {
        font-size: 30px;
        margin-top: 10 px;
        /*display: flex;
        justify-content: space-around;
        align-items: end;*/
        @include media(none,space-around,end)
    }
    .sb{
        font-size: 10px;
        margin-top: 10 px;
        /*display: flex;
        justify-content: space-around;
        align-items: end;*/
        @include media(none, space-around, end)
    }
    .hielos{
        padding: 20px;
        min-height: 100px;
        max-width: 200px; 
        margin-right: auto;
        margin-left: auto;
    }
    
    .hielos img{
        height: 300px;
        width: 450px;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
        margin-right: auto;
        margin-left: auto;
        @include media(10px, center, center)
    }
}
/*responsive sobre mi*/
@media screen and (max-width: 576px) {
    /*.arquitectura2 {
        display: grid;
        grid-template-areas:  "tl2" "par" "foto"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 200px auto  
    }
    .titulo {
        font-size: 30px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .sb{
        font-size: 10px;
        margin-top: 10 px;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
    .yo{
        background-color: aliceblue;
        padding: 20px;
    }
    .yo img{
        height: 30px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }*/
    .arquitectura2{
        display: grid;
        grid-template-areas:  "tl2" "par" "foto2"  ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 150px auto ;
    }
    .titulo2 {
        font-size: 30px;
        margin-top: 10 px;
        /*display: flex;
        justify-content: space-around;
        align-items: end;*/
        @include media(none, space-around, end)
    }
    .par{
        font-size: 10px;
        margin-top: 10 px;
        /*display: flex;
        justify-content: center;
        align-items: start;*/
        min-height: 100px;
        max-width: 455px; 
        margin-left: 58px;
        @include media (none, center, start)
    }
    .yo{
        padding: 5px;
        min-height: 100px;
        max-width: 455px; 
        margin-right: auto;
        margin-left: auto;
    }
    
    .yo img{
        height: 300px;
        width: 450px;
        /*display: flex;
        align-items:center;
        justify-content: center;*/
        @include media(none, center, center)
    }
}

/*Responsive audiovisuales*/

@media screen and (max-width: 576px) {
    iframe{
            height: 300px;
            width: 400px;
    }
}

/*Responsive fotografia*/

@media screen and (max-width: 576px) {
    .fotomenu .container{
            /*box modeling*/
            width: 90%;
            max-width: 1000px;
            height: 85%;
            width: 90%;
            /*tipografia*/
            font-size: 50px;
            text-align: center;
    }
    .fotomenu .container img{
        width: 90%;
        height:80%;
        align-items: center;
        justify-content: center;
    }
    .titulo{
        font-size: 30px;
        margin-top: 5 px;
        /*display: flex;
        justify-content: space-around;
        align-items: end;*/
        @include media(none, space-around,end)
    }
}

/*Responsive subpages*/
@media(max-width: 576px){
    v{
        grid-row: span 1;
    }
    h{
        grid-column: span 1;
    }
    vh{
        grid-column: span 1;
        grid-row: span 1;
    }
}